@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  background-color: #fff;
  color: #333;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
}
